altgraph==0.17
certifi==2021.5.30
chardet==4.0.0
docutils==0.17.1
future==0.18.2
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.2
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
pefile==2021.5.24
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.2
pypiwin32==223
pywin32==301
pywin32-ctypes==0.2.0
requests==2.25.1
urllib3==1.26.5
